In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../lab-cleaning-numerical-data/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv') 
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
data.head

<bound method NDFrame.head of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  \
0     Bachelor           2/24/11         Employed      F   56274
1     Bachelor           1/31/11       Unemployed      F       0
2     Bachelor           2/19/11         Employed      F   48767
3     Bachelor           1/20/11       Unemployed      M       0
4     Bachelor            2/3/11         Employed      M   43836
...        ...               ...              ...    ...     ...
9129  Bachelor           2/10/11         Employed      M   71941
9130   College           2/12/11         Employed      F   21604
9131  Bachelor            2/6/11       Unemployed      M       0
9132   College            2/3/11         Employed      M   21941
9133   College           2/14/11       Unemployed      M       0

     Location Code Marital Status  Monthly Premium Auto  \
0         Suburban        Married                    69
1         Suburban         Single                    94
2         Suburban        Married                   108
3         Suburban        Married                   106
4            Rural         Single                    73
...            ...            ...                   ...
9129         Urban        Married                    73
9130      Suburban       Divorced                    79
9131      Suburban         Single                    85
9132      Suburban        Married                    96
9133      Suburban         Single                    77

      Months Since Last Claim  Months Since Policy Inception  \
0                          32                              5
1                          13                             42
2                          18                             38
3                          18                             65
4                          12                             44
...                       ...                            ...
9129                       18                             89
9130                       14                             28
9131                        9                             37
9132                       34                              3
9133                        3                             90

      Number of Open Complaints  Number of Policies     Policy Type  \
0                             0                   1  Corporate Auto
1                             0                   8   Personal Auto
2                             0                   2   Personal Auto
3                             0                   7  Corporate Auto
4                             0                   1   Personal Auto
...                         ...                 ...             ...
9129                          0                   2   Personal Auto
9130                          0                   1  Corporate Auto
9131                          3                   2  Corporate Auto
9132                          0                   3   Personal Auto
9133                          0                   1  Corporate Auto

            Policy Renew Offer Type Sales Channel  Total Claim Amount  \
0     Corporate L3           Offer1         Agent          384.811147
1      Personal L3           Offer3         Agent         1131.464935
2      Personal L3           Offer1         Agent          566.472247
3     Corporate L2           Offer1   Call Center          529.881344
4      Personal L1           Offer1         Agent          138.130879
...            ...              ...           ...                 ...
9129   Personal L1           Offer2           Web          198.234764
9130  Corporate L3           Offer1        Branch          379.200000
9131  Corporate L2           Offer1        Branch          790.784983
9132   Personal L2           Offer3        Branch          691.200000
9133  Corporate L3           Offer4   Call Center          369.600000

      Vehicle Class Vehicle Size
0      Two-Door Car      Medsize
1     Four-Door Car      Medsize
2      Two-Door Car      Medsize
3               SUV      Medsize
4     Four-Door Car      Medsize
...             ...          ...
9129  Four-Door Car      Medsize
9130  Four-Door Car      Medsize
9131  Four-Door Car      Medsize
9132  Four-Door Car        Large
9133   Two-Door Car      Medsize

[9134 rows x 24 columns]>

In [4]:
data.shape

(9134, 24)

In [5]:
data.info

<bound method DataFrame.info of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  \
0     Bachelor           2/24/11         Employed      F   56274
1     Bachelor           1/31/11       Unemployed      F       0
2     Bachelor           2/19/11         Employed      F   48767
3     Bachelor           1/20/11       Unemployed      M       0
4     Bachelor            2/3/11         Employed      M   43836
...        ...               ...              ...    ...     ...
9129  Bachelor           2/10/11         Employed      M   71941
9130   College           2/12/11         Employed      F   21604
9131  Bachelor            2/6/11       Unemployed      M       0
9132   College            2/3/11         Employed      M   21941
9133   College           2/14/11       Unemployed      M       0

     Location Code Marital Status  Monthly Premium Auto  \
0         Suburban        Married                    69
1         Suburban         Single                    94
2         Suburban        Married                   108
3         Suburban        Married                   106
4            Rural         Single                    73
...            ...            ...                   ...
9129         Urban        Married                    73
9130      Suburban       Divorced                    79
9131      Suburban         Single                    85
9132      Suburban        Married                    96
9133      Suburban         Single                    77

      Months Since Last Claim  Months Since Policy Inception  \
0                          32                              5
1                          13                             42
2                          18                             38
3                          18                             65
4                          12                             44
...                       ...                            ...
9129                       18                             89
9130                       14                             28
9131                        9                             37
9132                       34                              3
9133                        3                             90

      Number of Open Complaints  Number of Policies     Policy Type  \
0                             0                   1  Corporate Auto
1                             0                   8   Personal Auto
2                             0                   2   Personal Auto
3                             0                   7  Corporate Auto
4                             0                   1   Personal Auto
...                         ...                 ...             ...
9129                          0                   2   Personal Auto
9130                          0                   1  Corporate Auto
9131                          3                   2  Corporate Auto
9132                          0                   3   Personal Auto
9133                          0                   1  Corporate Auto

            Policy Renew Offer Type Sales Channel  Total Claim Amount  \
0     Corporate L3           Offer1         Agent          384.811147
1      Personal L3           Offer3         Agent         1131.464935
2      Personal L3           Offer1         Agent          566.472247
3     Corporate L2           Offer1   Call Center          529.881344
4      Personal L1           Offer1         Agent          138.130879
...            ...              ...           ...                 ...
9129   Personal L1           Offer2           Web          198.234764
9130  Corporate L3           Offer1        Branch          379.200000
9131  Corporate L2           Offer1        Branch          790.784983
9132   Personal L2           Offer3        Branch          691.200000
9133  Corporate L3           Offer4   Call Center          369.600000

      Vehicle Class Vehicle Size
0      Two-Door Car      Medsize
1     Four-Door Car      Medsize
2      Two-Door Car      Medsize
3               SUV      Medsize
4     Four-Door Car      Medsize
...             ...          ...
9129  Four-Door Car      Medsize
9130  Four-Door Car      Medsize
9131  Four-Door Car      Medsize
9132  Four-Door Car        Large
9133   Two-Door Car      Medsize

[9134 rows x 24 columns]>

In [6]:
data.columns = data.columns.str.lower().str.replace(' ','_')

data

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [7]:
data.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [8]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'], format="%m/%d/%y")
data
#pd.to_datetime(df['Dates'], format='%y%m%d')

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [9]:
data.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [10]:
data.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [11]:
def data_type(data):
    data_continious_cols=[]
    data_discrete_cols=[]
    data_categorical_cols=[]
    for x in data.columns:
        if (data[x].dtypes == float or data[x].dtypes == int) and len(data[x].unique()) > 20:
            data_continious_cols.append(x)
           
        elif (data[x].dtypes == float or data[x].dtypes == int) and len(data[x].unique()) <= 20:
            data_discrete_cols.append(x)       
        else:
            data_categorical_cols.append(x)
    data_con= data[data_continious_cols]
    data_dis=data[data_discrete_cols]
    data_cat=data[data_categorical_cols]

        
    return(data_con, data_dis, data_cat)

In [12]:
data_con, data_dis, data_cat=data_type(data)

In [13]:
data_dis

      number_of_open_complaints  number_of_policies
0                             0                   1
1                             0                   8
2                             0                   2
3                             0                   7
4                             0                   1
...                         ...                 ...
9129                          0                   2
9130                          0                   1
9131                          3                   2
9132                          0                   3
9133                          0                   1

[9134 rows x 2 columns]

In [14]:
data_cat

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [15]:
def data_cat_selection(data):
    data_too_much_text_cols=[]
    data_acceptable_cols=[]
    #data_categorical_cols=[]
    for x in data.columns:
        if len(data[x].unique()) > 10:
            data_too_much_text_cols.append(x)
           
        elif  len(data[x].unique()) <= 10:
            data_acceptable_cols.append(x)       
        
    data_too_much_text= data[data_too_much_text_cols]
    data_cat_accepted=data[data_acceptable_cols]
    

        
    return(data_too_much_text, data_cat_accepted)

In [16]:
#data_cat_selection(data_cat)
data_too_much_text, data_cat_accepted = data_cat_selection(data_cat)

In [17]:
data_cat_accepted

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [18]:
data_too_much_text

     customer effective_to_date
0     BU79786        2011-02-24
1     QZ44356        2011-01-31
2     AI49188        2011-02-19
3     WW63253        2011-01-20
4     HB64268        2011-02-03
...       ...               ...
9129  LA72316        2011-02-10
9130  PK87824        2011-02-12
9131  TD14365        2011-02-06
9132  UP19263        2011-02-03
9133  Y167826        2011-02-14

[9134 rows x 2 columns]

In [19]:
#looking at the value_counts(), I decided to turn the elements of the column 'effective_to_date'
#to int. And afterwards adding it to data_continious and deleting the column in data_categoricals

effective_to_date_int=[]
for i in data_cat['effective_to_date']:
    effective_to_date_int.append(i.strftime("%Y%m%d"))
    
effective_to_date_int

['20110224',
 '20110131',
 '20110219',
 '20110120',
 '20110203',
 '20110125',
 '20110224',
 '20110118',
 '20110126',
 '20110217',
 '20110221',
 '20110106',
 '20110206',
 '20110110',
 '20110118',
 '20110117',
 '20110206',
 '20110105',
 '20110227',
 '20110114',
 '20110219',
 '20110121',
 '20110126',
 '20110224',
 '20110205',
 '20110129',
 '20110228',
 '20110212',
 '20110202',
 '20110207',
 '20110228',
 '20110122',
 '20110125',
 '20110118',
 '20110213',
 '20110115',
 '20110108',
 '20110206',
 '20110125',
 '20110207',
 '20110118',
 '20110111',
 '20110128',
 '20110208',
 '20110223',
 '20110125',
 '20110131',
 '20110102',
 '20110207',
 '20110118',
 '20110117',
 '20110111',
 '20110221',
 '20110216',
 '20110117',
 '20110205',
 '20110213',
 '20110223',
 '20110128',
 '20110228',
 '20110102',
 '20110122',
 '20110115',
 '20110127',
 '20110123',
 '20110131',
 '20110126',
 '20110110',
 '20110127',
 '20110109',
 '20110224',
 '20110211',
 '20110212',
 '20110204',
 '20110118',
 '20110211',
 '20110201',
 '20110215',
 '20110206',
 '20110227',
 '20110126',
 '20110226',
 '20110127',
 '20110116',
 '20110127',
 '20110228',
 '20110125',
 '20110101',
 '20110201',
 '20110219',
 '20110127',
 '20110227',
 '20110117',
 '20110210',
 '20110124',
 '20110224',
 '20110215',
 '20110216',
 '20110122',
 '20110225',
 '20110111',
 '20110131',
 '20110112',
 '20110216',
 '20110209',
 '20110119',
 '20110104',
 '20110109',
 '20110127',
 '20110214',
 '20110227',
 '20110212',
 '20110226',
 '20110220',
 '20110202',
 '20110215',
 '20110218',
 '20110121',
 '20110115',
 '20110205',
 '20110224',
 '20110105',
 '20110128',
 '20110112',
 '20110216',
 '20110103',
 '20110207',
 '20110113',
 '20110103',
 '20110217',
 '20110121',
 '20110126',
 '20110131',
 '20110102',
 '20110207',
 '20110126',
 '20110111',
 '20110115',
 '20110208',
 '20110111',
 '20110109',
 '20110204',
 '20110121',
 '20110216',
 '20110224',
 '20110118',
 '20110130',
 '20110109',
 '20110201',
 '20110228',
 '20110131',
 '20110217',
 '20110212',
 '20110224',
 '20110201',
 '20110206',
 '20110123',
 '20110121',
 '20110120',
 '20110106',
 '20110222',
 '20110227',
 '20110221',
 '20110129',
 '20110222',
 '20110221',
 '20110110',
 '20110118',
 '20110116',
 '20110106',
 '20110127',
 '20110115',
 '20110109',
 '20110128',
 '20110226',
 '20110104',
 '20110201',
 '20110127',
 '20110214',
 '20110123',
 '20110218',
 '20110124',
 '20110218',
 '20110119',
 '20110104',
 '20110207',
 '20110130',
 '20110217',
 '20110113',
 '20110208',
 '20110129',
 '20110205',
 '20110120',
 '20110127',
 '20110109',
 '20110111',
 '20110217',
 '20110216',
 '20110210',
 '20110219',
 '20110121',
 '20110227',
 '20110204',
 '20110118',
 '20110203',
 '20110102',
 '20110109',
 '20110119',
 '20110111',
 '20110131',
 '20110111',
 '20110211',
 '20110122',
 '20110224',
 '20110228',
 '20110125',
 '20110226',
 '20110219',
 '20110102',
 '20110102',
 '20110126',
 '20110202',
 '20110227',
 '20110120',
 '20110117',
 '20110117',
 '20110224',
 '20110214',
 '20110220',
 '20110219',
 '20110208',
 '20110206',
 '20110227',
 '20110201',
 '20110223',
 '20110111',
 '20110210',
 '20110225',
 '20110216',
 '20110130',
 '20110211',
 '20110114',
 '20110214',
 '20110203',
 '20110131',
 '20110215',
 '20110227',
 '20110121',
 '20110114',
 '20110125',
 '20110202',
 '20110209',
 '20110228',
 '20110127',
 '20110219',
 '20110218',
 '20110214',
 '20110130',
 '20110209',
 '20110206',
 '20110223',
 '20110222',
 '20110116',
 '20110202',
 '20110222',
 '20110103',
 '20110227',
 '20110215',
 '20110111',
 '20110121',
 '20110126',
 '20110101',
 '20110223',
 '20110204',
 '20110206',
 '20110210',
 '20110102',
 '20110210',
 '20110119',
 '20110223',
 '20110107',
 '20110114',
 '20110215',
 '20110224',
 '20110202',
 '20110107',
 '20110228',
 '20110217',
 '20110212',
 '20110109',
 '20110110',
 '20110108',
 '20110125',
 '20110127',
 '20110112',
 '20110116',
 '20110122',
 '20110113',
 '20110211',
 '20110104',
 '20110129',
 '20110228',
 '20110204',
 '20110202',
 '20110103',
 '20110221',
 '20110201',
 '20110101',
 '20110228',
 '20110112',
 '20110213',
 '20110129',
 '20110213',
 '20110122',
 '20110125',
 '20110223',
 '20110218',
 '20110103',
 '20110109',
 '20110103',
 '20110221',
 '20110222',
 '20110109',
 '20110207',
 '20110226',
 '20110130',
 '20110228',
 '20110220',
 '20110120',
 '20110122',
 '20110106',
 '20110206',
 '20110202',
 '20110223',
 '20110107',
 '20110227',
 '20110121',
 '20110204',
 '20110108',
 '20110204',
 '20110115',
 '20110207',
 '20110219',
 '20110209',
 '20110205',
 '20110115',
 '20110206',
 '20110227',
 '20110117',
 '20110107',
 '20110103',
 '20110126',
 '20110107',
 '20110114',
 '20110220',
 '20110101',
 '20110110',
 '20110127',
 '20110207',
 '20110125',
 '20110211',
 '20110119',
 '20110204',
 '20110209',
 '20110220',
 '20110204',
 '20110108',
 '20110202',
 '20110207',
 '20110110',
 '20110126',
 '20110201',
 '20110128',
 '20110111',
 '20110203',
 '20110204',
 '20110214',
 '20110124',
 '20110223',
 '20110212',
 '20110105',
 '20110214',
 '20110202',
 '20110123',
 '20110105',
 '20110224',
 '20110110',
 '20110213',
 '20110120',
 '20110205',
 '20110107',
 '20110227',
 '20110108',
 '20110106',
 '20110203',
 '20110120',
 '20110223',
 '20110126',
 '20110201',
 '20110214',
 '20110113',
 '20110124',
 '20110117',
 '20110115',
 '20110218',
 '20110106',
 '20110114',
 '20110206',
 '20110114',
 '20110124',
 '20110126',
 '20110115',
 '20110122',
 '20110209',
 '20110216',
 '20110226',
 '20110124',
 '20110128',
 '20110203',
 '20110127',
 '20110204',
 '20110222',
 '20110119',
 '20110105',
 '20110203',
 '20110118',
 '20110109',
 '20110203',
 '20110218',
 '20110108',
 '20110207',
 '20110122',
 '20110103',
 '20110120',
 '20110203',
 '20110207',
 '20110209',
 '20110226',
 '20110214',
 '20110102',
 '20110103',
 '20110227',
 '20110115',
 '20110102',
 '20110131',
 '20110116',
 '20110218',
 '20110102',
 '20110120',
 '20110127',
 '20110126',
 '20110215',
 '20110107',
 '20110110',
 '20110220',
 '20110118',
 '20110124',
 '20110108',
 '20110209',
 '20110216',
 '20110110',
 '20110228',
 '20110122',
 '20110105',
 '20110121',
 '20110124',
 '20110114',
 '20110119',
 '20110131',
 '20110216',
 '20110112',
 '20110106',
 '20110123',
 '20110218',
 '20110207',
 '20110226',
 '20110105',
 '20110210',
 '20110112',
 '20110101',
 '20110131',
 '20110214',
 '20110224',
 '20110201',
 '20110106',
 '20110127',
 '20110107',
 '20110131',
 '20110225',
 '20110103',
 '20110227',
 '20110119',
 '20110131',
 '20110121',
 '20110214',
 '20110218',
 '20110208',
 '20110130',
 '20110128',
 '20110124',
 '20110217',
 '20110204',
 '20110120',
 '20110203',
 '20110206',
 '20110122',
 '20110222',
 '20110129',
 '20110113',
 '20110213',
 '20110210',
 '20110126',
 '20110207',
 '20110107',
 '20110118',
 '20110222',
 '20110116',
 '20110101',
 '20110210',
 '20110109',
 '20110202',
 '20110226',
 '20110201',
 '20110214',
 '20110225',
 '20110217',
 '20110208',
 '20110225',
 '20110211',
 '20110103',
 '20110104',
 '20110127',
 '20110127',
 '20110213',
 '20110108',
 '20110226',
 '20110201',
 '20110116',
 '20110228',
 '20110206',
 '20110202',
 '20110106',
 '20110211',
 '20110113',
 '20110225',
 '20110206',
 '20110205',
 '20110119',
 '20110125',
 '20110117',
 '20110227',
 '20110214',
 '20110117',
 '20110215',
 '20110119',
 '20110207',
 '20110127',
 '20110109',
 '20110208',
 '20110206',
 '20110105',
 '20110101',
 '20110228',
 '20110209',
 '20110127',
 '20110106',
 '20110119',
 '20110115',
 '20110114',
 '20110212',
 '20110123',
 '20110121',
 '20110124',
 '20110225',
 '20110103',
 '20110201',
 '20110204',
 '20110122',
 '20110219',
 '20110114',
 '20110210',
 '20110222',
 '20110105',
 '20110227',
 '20110124',
 '20110113',
 '20110103',
 '20110217',
 '20110102',
 '20110225',
 '20110221',
 '20110224',
 '20110227',
 '20110210',
 '20110202',
 '20110129',
 '20110129',
 '20110226',
 '20110108',
 '20110205',
 '20110213',
 '20110225',
 '20110205',
 '20110214',
 '20110123',
 '20110101',
 '20110220',
 '20110129',
 '20110220',
 '20110207',
 '20110222',
 '20110102',
 '20110105',
 '20110107',
 '20110102',
 '20110117',
 '20110121',
 '20110222',
 '20110204',
 '20110207',
 '20110120',
 '20110222',
 '20110101',
 '20110214',
 '20110128',
 '20110122',
 '20110130',
 '20110118',
 '20110222',
 '20110103',
 '20110110',
 '20110128',
 '20110220',
 '20110105',
 '20110228',
 '20110218',
 '20110107',
 '20110204',
 '20110224',
 '20110226',
 '20110213',
 '20110213',
 '20110227',
 '20110206',
 '20110129',
 '20110119',
 '20110103',
 '20110116',
 '20110227',
 '20110124',
 '20110222',
 '20110109',
 '20110127',
 '20110106',
 '20110228',
 '20110109',
 '20110209',
 '20110116',
 '20110114',
 '20110226',
 '20110131',
 '20110124',
 '20110120',
 '20110101',
 '20110108',
 '20110203',
 '20110102',
 '20110106',
 '20110115',
 '20110129',
 '20110214',
 '20110102',
 '20110102',
 '20110222',
 '20110115',
 '20110214',
 '20110218',
 '20110112',
 '20110116',
 '20110123',
 '20110107',
 '20110104',
 '20110103',
 '20110119',
 '20110128',
 '20110124',
 '20110108',
 '20110223',
 '20110116',
 '20110123',
 '20110131',
 '20110116',
 '20110214',
 '20110112',
 '20110128',
 '20110227',
 '20110102',
 '20110102',
 '20110120',
 '20110129',
 '20110111',
 '20110109',
 '20110222',
 '20110115',
 '20110212',
 '20110121',
 '20110227',
 '20110204',
 '20110117',
 '20110110',
 '20110219',
 '20110103',
 '20110126',
 '20110228',
 '20110113',
 '20110131',
 '20110216',
 '20110108',
 '20110203',
 '20110211',
 '20110110',
 '20110223',
 '20110110',
 '20110126',
 '20110206',
 '20110120',
 '20110203',
 '20110213',
 '20110117',
 '20110209',
 '20110102',
 '20110226',
 '20110213',
 '20110222',
 '20110226',
 '20110212',
 '20110121',
 '20110205',
 '20110218',
 '20110117',
 '20110213',
 '20110203',
 '20110101',
 '20110219',
 '20110225',
 '20110219',
 '20110216',
 '20110213',
 '20110103',
 '20110219',
 '20110122',
 '20110123',
 '20110212',
 '20110202',
 '20110224',
 '20110105',
 '20110224',
 '20110226',
 '20110117',
 '20110122',
 '20110107',
 '20110118',
 '20110107',
 '20110207',
 '20110107',
 '20110118',
 '20110107',
 '20110101',
 '20110213',
 '20110210',
 '20110110',
 '20110128',
 '20110123',
 '20110228',
 '20110106',
 '20110120',
 '20110214',
 '20110131',
 '20110113',
 '20110113',
 '20110116',
 '20110216',
 '20110111',
 '20110228',
 '20110124',
 '20110204',
 '20110114',
 '20110217',
 '20110123',
 '20110214',
 '20110220',
 '20110121',
 '20110119',
 '20110224',
 '20110214',
 '20110127',
 '20110206',
 '20110222',
 '20110131',
 '20110113',
 '20110127',
 '20110128',
 '20110102',
 '20110107',
 '20110111',
 '20110105',
 '20110217',
 '20110221',
 '20110216',
 '20110121',
 '20110228',
 '20110212',
 '20110219',
 '20110213',
 '20110221',
 '20110102',
 '20110202',
 '20110122',
 '20110202',
 '20110222',
 '20110130',
 '20110129',
 '20110127',
 '20110113',
 '20110224',
 '20110126',
 '20110116',
 '20110127',
 '20110125',
 '20110206',
 '20110117',
 '20110206',
 '20110217',
 '20110128',
 '20110202',
 '20110131',
 '20110207',
 '20110105',
 '20110211',
 '20110217',
 '20110114',
 '20110117',
 '20110224',
 '20110203',
 '20110105',
 '20110117',
 '20110208',
 '20110210',
 '20110115',
 '20110109',
 '20110112',
 '20110120',
 '20110108',
 '20110202',
 '20110218',
 '20110123',
 '20110212',
 '20110219',
 '20110112',
 '20110126',
 '20110227',
 '20110104',
 '20110214',
 '20110111',
 '20110124',
 '20110203',
 '20110118',
 '20110118',
 '20110204',
 '20110219',
 '20110119',
 '20110116',
 '20110217',
 '20110130',
 '20110204',
 '20110127',
 '20110120',
 '20110207',
 '20110110',
 '20110221',
 '20110203',
 '20110101',
 '20110223',
 '20110119',
 '20110120',
 '20110211',
 '20110103',
 '20110220',
 '20110118',
 '20110221',
 '20110121',
 '20110206',
 '20110201',
 '20110131',
 '20110217',
 '20110110',
 '20110112',
 '20110210',
 '20110104',
 '20110116',
 '20110105',
 '20110121',
 '20110102',
 '20110216',
 '20110101',
 '20110216',
 '20110115',
 '20110102',
 '20110105',
 '20110221',
 '20110205',
 '20110114',
 '20110210',
 '20110112',
 '20110115',
 '20110210',
 '20110202',
 '20110219',
 '20110119',
 '20110121',
 '20110108',
 '20110120',
 '20110107',
 '20110107',
 '20110123',
 '20110203',
 '20110117',
 '20110218',
 '20110218',
 '20110124',
 '20110126',
 '20110114',
 '20110126',
 '20110107',
 '20110209',
 '20110125',
 '20110121',
 '20110221',
 '20110214',
 '20110128',
 '20110205',
 '20110220',
 '20110227',
 '20110101',
 '20110124',
 '20110114',
 '20110202',
 '20110111',
 '20110117',
 '20110126',
 '20110217',
 '20110213',
 '20110220',
 '20110122',
 '20110222',
 '20110119',
 '20110214',
 '20110126',
 '20110131',
 '20110206',
 '20110128',
 '20110106',
 '20110227',
 '20110228',
 '20110125',
 '20110213',
 '20110102',
 '20110203',
 '20110228',
 '20110130',
 '20110111',
 '20110117',
 '20110104',
 '20110226',
 '20110127',
 '20110104',
 '20110211',
 '20110126',
 '20110228',
 '20110207',
 '20110225',
 '20110103',
 '20110120',
 '20110226',
 '20110219',
 '20110221',
 '20110128',
 '20110126',
 '20110104',
 '20110105',
 '20110205',
 '20110119',
 '20110215',
 '20110201',
 '20110209',
 '20110205',
 '20110117',
 '20110223',
 '20110207',
 '20110226',
 ...]

In [20]:
data_con['effective_to_date']= effective_to_date_int

In [21]:
data_con

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,total_claim_amount,effective_to_date
0,2763.519279,56274,69,32,5,384.811147,20110224
1,6979.535903,0,94,13,42,1131.464935,20110131
2,12887.431650,48767,108,18,38,566.472247,20110219
3,7645.861827,0,106,18,65,529.881344,20110120
4,2813.692575,43836,73,12,44,138.130879,20110203
...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,198.234764,20110210
9130,3096.511217,21604,79,14,28,379.200000,20110212
9131,8163.890428,0,85,9,37,790.784983,20110206
9132,7524.442436,21941,96,34,3,691.200000,20110203
9133,2611.836866,0,77,3,90,369.600000,20110214

In [22]:
# drop column 'customer' from categorical data # or I should have used it in the beginning as
# index...

In [23]:
data_Cat=data_cat_accepted
data_Cat # so now the categorical data is left without 'customer'.

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [24]:
# in the end I am left with the three dataframes: data_dis, data_con, and data_Cat
# f(or discrete numerical data, continious numerical data and categorical data)